/* Primary */

$Azul: hsl(246, 80%, 60%);

$Naranja: hsl(15, 100%, 70%);
$Azul_suave: hsl(195, 74%, 62%);
$Rojo_claro: hsl(348, 100%, 68%);
$Verde_lima: hsl(145, 58%, 55%);
$Violeta: hsl(264, 64%, 52%);
$Naranja_suave: hsl(43, 84%, 65%);

/* Neutral */

$Azul_muy_oscuro: hsl(226, 43%, 10%);
$Azul_oscuro: hsl(235, 46%, 20%);
$Azul_desaturado: hsl(235, 45%, 61%);
$Azul_palido: hsl(236, 100%, 87%);

$Azul_desaturado_hover: hsl(235, 45%, 30%);
